body {
	background-color: #121212;
	color: #ffffff;
}

body a:link, body a:hover, body a:visited {
	color: #00DAC6;
}

#warning {
	background-color: #ff0000;
	color: #ffffff;
	font-size: 1rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-weight: bold;
}

#header {
	background-color: #000000;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.5rem;
}

#logo {
	padding-bottom: 4px;
}

.top-bar {
	padding-left: 0!important;
	padding-right: 0!important;	
}

li.menu-text {
	padding-left: 0!important;
	padding-right: 0!important;
}

#breadcrumb {
	background-color: #1F1F1F;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
}

ul.breadcrumbs {
	margin-bottom: 0;
}

ul.breadcrumbs li {
	color: #ffffff;
}

ul.breadcrumbs a:link, ul.breadcrumbs a:hover, ul.breadcrumbs a:visited {
	color: #ffffff;
}

.directory-cell {
	margin-bottom: 30px;
}

.gallery-cell-fluid {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.gallery-cell-fluid .thumb {
	width:  auto;
	height: 181px;
}

.gallery-cell {
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-cell-fluid.gallery-cell {
	margin-bottom: 12px;	
}
.gallery-cell-grid.gallery-cell {
	margin-bottom: 30px;	
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.gallery-cell-fluid .thumb {
		height: 118px;
	}
	.gallery-cell-fluid {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	.gallery-cell-fluid.gallery-cell {
		margin-bottom: 2px;	
	}	
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	.directory-cell {
		margin-bottom: 20px;
	}
	.gallery-cell-fluid .thumb {
		height: 83px;
	}
	.gallery-cell-fluid {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	.gallery-cell-fluid.gallery-cell {
		margin-bottom: 2px;	
	}
	.gallery-cell-grid.gallery-cell {
		margin-bottom: 20px;	
	}
}

.gallery-cell img {
  transition: transform .5s ease;
}

.gallery-cell:hover img {
  transform: scale(1.2);
}

.gallery-cell-info {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #ffffff;
	font-size: 12px;
	/*text-shadow: 1px 1px #888888;*/
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
	font-weight: bold;
	cursor: pointer;
}

.gallery-cell:hover .gallery-cell-download {
	visibility: visible;
}

.gallery-cell-download {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #ffffff;
	font-size: 16px;
	/*text-shadow: 1px 1px #888888;*/
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
	visibility: hidden;
	z-index: 9999;
}

.gallery-cell-download a:link, .gallery-cell-download a:hover, .gallery-cell-download a:visited {
	color: #ffffff;
}

.fi-download {
	color: #ffffff;
}

#footer {
	margin-top: 0.5rem;
	font-size: 14px;
}